<!DOCTYPE html>
<html lang="ko">
  <head>
    <script class="__include" src="../include/meta.js"></script>
    <title>타란 관리자</title>
    <script class="__include" src="../include/head.js"></script>
    <script>
      $(function () {
        $('.btn-primary').click(function () {
          //location.href = './00/main.html';
        });
      });
    </script>
  </head>
  <body>
    <div class="form-signin-wrap">
      <div class="form-signin">
        <div class="text-center mb-4">
          <h1 class="mb-4">비밀번호 변경</h1>
          <p>안전한 정보보호를 위하여, <br />6개월마다 비밀번호를 변경해 주세요.</p>
        </div>

        <div class="form-label-group">
          <input type="password" id="currentUserPassword" class="form-control" placeholder="현재 비밀번호" required autofocus />
          <label for="currentUserPassword">현재 비밀번호</label>
        </div>

        <div class="form-label-group mb-1">
          <input type="password" id="newUserPassword" class="form-control" placeholder="신규 비밀번호" required />
          <label for="newUserPassword">신규 비밀번호</label>
        </div>
        <p class="mb-3 text-info text-sm"><small>* 영문, 숫자, 특수문자 포함 6자리 이상 15자리 미만</small></p>

        <div class="form-label-group">
          <input type="password" id="newPasswordConfirm" class="form-control" placeholder="비밀번호 확인" required />
          <label for="newPasswordConfirm">비밀번호 확인</label>
        </div>

        <div class="mb-3 text-center">
          <!-- <span class="text-danger">현재 비밀번호가 일치하지 않습니다</span> -->
          <!-- <span class="text-danger">입력하신 비밀번호가 일치하지 않습니다.</span> -->
          <!-- <span class="text-danger">현재 사용하시는 비밀번호는 사용하실 수 없습니다.</span> -->
          <span class="text-danger">비밀번호는 숫자, 영문, 특수문자를 포함한<br />6자리 이상 15자리 미만이어야 합니다.</span>
        </div>

        <div><button class="btn btn-lg btn-primary btn-block" type="submit">비밀번호 변경</button></div>
      </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="../js/jquery-3.5.1.slim.min.js"><\/script>');
        </script> -->
    <script>
      //유효성 오류팝업(게시일 지정오류)
      // Modal.alert('비밀번호 변경이 완료되었습니다.', function () {
      //   console.log('비밀번호 변경 완료 확인');
      // });
    </script>
  </body>
</html>
